@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPNeueMachina-PlainRegular";
  src: url("../public/assets/fonts/PPNeueMachina-PlainRegular.otf")
    format("otf");
}

body {
  @apply scroll-smooth bg-background;
}

/* PROGRESS BAR */
progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: white;
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: white;
  background-attachment: fixed;
}

/* NAVIGATION HOVER */
.nav-hover {
  @apply inline-block h-12 w-16 scale-0 transform object-cover transition-all group-hover:scale-100 xs:h-16 xs:w-24 md:h-24 md:w-36;
}

.marquee {
  animation: scrollText 15s infinite linear;
  white-space: nowrap;
  transition: all 1s ease;
  display: inline-block;
}

.marquee2 {
  transition: all 1s ease;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.word-spacing {
  word-spacing: 3.8rem;
}
